@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{
    font-family: 'Nanum Gothic';
}

h1.ttl{
    font-size: 2rem;
    margin: 3rem auto;
}

p.dscrpt{
    font-size: 1rem;
    line-height: 1rem;
}

p.sml{
    font-size: 0.9rem;
}

p.lbl{
    display: inline;
    font-size: 1rem;
    margin: auto 2rem;
    cursor: pointer;
}

a{
    color: #ff0088 !important;
    text-decoration: none;
}

a:visited{
    color:#9720ff !important;
}

input[type = text], input[type = password]{
    width: 25rem;
    height: 3rem;
    margin-bottom: 3rem;
    border: transparent;
    border-left: transparent 2rem solid;
    border-right: transparent 2rem solid;
    box-shadow: 0rem 0rem 0.8rem 0rem #b1b1b1;
    border-radius: 2rem;
    display: inline-block;
    font-family: 'Nanum Gothic';
    font-size: 1rem;
    font-weight: 600;
}

input[type = text], input[type = password], button:focus{
    outline: none;
}



