@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@font-face{ font-family: 'JetBrains Mono'; src:url(font/JetBrainsMono-Medium.woff) format('woff'); }
@font-face{ font-family: 'JetBrains Mono I'; src:url(font/JetBrainsMono-Medium-Italic.woff) format('woff'); }
@font-face{ font-family: 'D2Coding'; src:url(font/D2Coding.woff) format('woff'); }


@media(prefers-color-scheme: dark){
    
    #kkotb_rfnc:hover, li.a:hover, li.sA:hover{       cursor: pointer; }
    #kkotb_rfnc:visited, li.a:visited, li.sA:visited{ cursor: default; }
    li.a:hover{                                       color:#ff0d86; }
    p#thank_you:hover{                                color:#f100b5; }

    li.a::before{ content: ''; background-image: url('../img/link_dark.png'); }

    input[type="text"]:focus:hover { border-bottom: 1px solid #ffffff; }
    input[type="text"]:focus {       border-bottom: 1px solid #ffffff; width: 31.25em; z-index: 1; cursor: text; }


    *::-webkit-scrollbar{       width: 0.6em; height: 0.6em; border-radius: 0.5em 0.5em 0.5em 0.5em; }
    *::-webkit-scrollbar-thumb{ border-radius: 0.5em 0.5em 0.5em 0.5em; background-color: #ffffff59; }
    *::-webkit-scrollbar-track{ border-radius: 0.5em 0.5em 0.5em 0.5em; }


    div#sideBar::-webkit-scrollbar{    width: 0.6em; border-radius: 0.5em 0.5em 0.5em 0.5em; }
    div.code::-webkit-scrollbar{       width: 0.6em; border-radius: 0.5em 0.5em 0.5em 0.5em; }
    div.code::-webkit-scrollbar-thumb{ width: 0.6em; border-radius: 0.5em 0.5em 0.5em 0.5em; background-color: #414141;  }
    div.code::-webkit-scrollbar-track{ width: 0.6em; border-radius: 0.5em 0.5em 0.5em 0.5em; }



    html{   margin: -0.6em 5em 5em 3em; font-family: 'Nanum Gothic'; color: #ffffff; background-color: #333333; }
    header{ z-index: 1; background-color: #333333; position: fixed; display: block; margin-bottom: 2em; padding: 3em 3em 2em 3em; left: 0%; }

    dd{ font-size: 0.9em; line-height: 2em; }
    dt{ font-size: 1em; line-height: 2em; font-weight: 800; }

    section{              display: block; margin-left: 22%; float: right !important; }
    section#body{         position: absolute; top: 8em; margin-left: 0; margin-right: 2% !important; }
    section#body section{ margin-bottom: 5em !important; z-index: 99999; }

    code{          display: inline; font-family: 'JetBrains Mono', 'D2Coding'; line-height: 2em; }
    div.code code{ text-shadow: 0em 0em 0.8em #ffffff; }
    table{         width: 100%; border-top: 0.3em solid #ffffff; border-left: 0em solid transparent; border-right: 0em solid transparent; border-collapse: collapse; margin: auto; margin-top: 2.5em; margin-bottom: 2.5em; font-size: 1em; }


    p.title, p.stitle, p.dscrpt, p#thank_you{ font-family: 'Nanum Gothic'; }
    p.title{       font-size: 1.8em; font-weight: bold; }
    p.stitle{      font-size: 1.5em; font-weight: bold; }
    p.dscrpt{ font-size: 1em; display: inline; line-height: 2em; }

    p.code{             display: inline; background-color: black; margin: 0.2em 0.2em; border-radius: 0.4em 0.4em; font-family: 'JetBrains Mono', 'D2Coding'; font-size: 0.9em; padding: 0.2em 0.2em; line-height: 2em; }
    p.crfBox, p.plsBox{ display: inline; line-height: 2em; font-family: 'JetBrains Mono'; }
    p#thank_you{        display: inline; color: #ffffff; line-height: 2em; transition:color 1s ease; }


    div.content{ margin-bottom: 3em; }
    div#side{    position: fixed; background-color: #333333; width: 22%; height: 100%; }
    div#blank{   position: fixed; background-color: #333333; width: 16%; height: 100%; padding-left: 3em; }
    div#sideBar{ position: fixed; background-color: #333333; width: 16%; height: 75%; padding-left: 3em; display: block; overflow: auto; }
    div#side{    position: fixed; background-color: #333333; z-index: 2; left: 0%; }

    div.code, div.crf, div.pls{ margin-top: 1.3em; margin-bottom: 2em; border-radius: 0.4em 0.4em; font-family: 'JetBrains Mono'; font-size: 0.9em; padding: 0.5em 0.5em 0.5em 0.5em; white-space:nowrap; overflow: auto; }

    div.code{ background-color: black; color: white; box-shadow: 0em 0em 0.8em 0em black; }
    div.crf{  background-color: #333333; color: rgb(255, 0, 140); box-shadow: 0em 0em 0.4em 0em rgb(255, 0, 140); border-left: 1em solid rgb(255, 0, 140); }
    div.pls{  background-color: #333333; color: #00ffaa; box-shadow: 0em 0em 0.4em 0em #00ffaa; border-left: 1em solid #00ffaa; }

    div.table{ overflow: auto; font-family: 'Nanum Gothic'; }
    div#sA{ margin-top: 1.5em; margin-bottom: 1.5em; }
    div#wrap { margin: 0em 6.25rem; display: block; position: relative; height: 3.75em; float: right; }


    img#kkotb_rfnc{                      width: 3em; height: auto; }
    img[id = "sttc"], img[id = "prttp"]{ width: 1.1em; margin-right: 0.5em; height: auto; }
    img.thank{ filter: invert(0%); }


    input[type="text"] {   height: 3rem; font-size: 1.3em; display: block; font-family: 'JetBrains Mono', "Nanum Gothic"; font-weight: 100; border: none; outline: none; color: #ffffff; padding: 0.1875em; padding-right: 3.75em; width: 0em; position: absolute; top: 0; right: 0; background: none; z-index: 3; transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000); cursor: pointer; }
    input[type="submit"] { height: 3rem; display: inline-block; color: #4b4b4b; background: url("../img/search_dark.png") no-repeat; background-size: 3rem 3rem; width: 3rem; border: none; color: transparent; position: absolute; top: 0; right: 0; z-index: 2; cursor: pointer; }


    tr{     line-height: 2em !important; }
    th, td{ border-bottom: 0.016em solid #ffffff; padding: 1em 1em 1em 1em; text-align: left; }
    td#no{  font-weight: bold; color: red; }


    sup, sub{ font-size: 70%; }
    li.sA{    font-size: 0.9em; font-weight: bold; color: #f100b5; }
    li.a{     display: inline; font-weight: bold; color: white; font-family: 'Nanum Gothic'; line-height: 2em; transition:color 1s ease; }
    i{        font-family: 'JetBrains Mono I'; }







    /*p.a:hover { color:#ff0d86; }

    input[type="text"]:focus:hover { border-bottom: 1px solid #ffffff; }
    input[type="text"]:focus {       border-bottom: 1px solid #ffffff; width: 31.25em; z-index: 1; cursor: text; }


    *::-webkit-scrollbar{       border-radius: 0.5em 0.5em 0.5em 0.5em; width: 0.7em; }
    *::-webkit-scrollbar-thumb{ border-radius: 0.5em 0.5em 0.5em 0.5em; background-color: #ffffff59; }
    *::-webkit-scrollbar-track{ border-radius: 0.5em 0.5em 0.5em 0.5em; }
    
    div#sideBar::-webkit-scrollbar{    width: 0.7em; border-radius: 0.5em 0.5em 0.5em 0.5em; }
    div.code::-webkit-scrollbar{       width: 0.1em; border-radius: 0.5em 0.5em 0.5em 0.5em; }
    div.code::-webkit-scrollbar-thumb{ width: 0.1em; border-radius: 0.5em 0.5em 0.5em 0.5em; background-color: #ffffff59; }
    div.code::-webkit-scrollbar-track{ width: 0.1em; border-radius: 0.5em 0.5em 0.5em 0.5em; }


    html, header, div, section{ background-color: #333333 !important; }

    table{ border-top: 0.3em solid white !important; border-left: 0em solid #333333 !important; border-right: 0em solid #333333 !important; }
    td#no{ color: rgb(255, 0, 0) !important; }
    
    
    p.title, p.dscrpt, p.stitle, p.code, p.a, p#thank_you, th, td, dt, dd, a{ color: white !important; }

    p.code{ background-color: black !important; }


    div#side{ background-color: rgb(255, 255, 255); }

    div.code{ background-color: black !important; box-shadow: 0em 0em 0.8em 0em rgb(31, 31, 31); }

    div#wrap { margin: 0em 6.25rem; display: block; position: relative; height: 3.75em; float: right; }


    input[type="text"] {   height: 3rem; font-size: 1.3em; display: block; font-family: 'JetBrains Mono', "Nanum Gothic"; font-weight: 100; border: none; outline: none; color: #ffffff; padding: 0.1875em; padding-right: 3.75em; width: 0em; position: absolute; top: 0; right: 0; background: none; z-index: 3; transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000); cursor: pointer; }
    input[type="submit"] { width: 3em; height: auto; display: inline-block; background: url("../img/search_dark.png") no-repeat; background-size: 3rem 3rem; border: none; color: transparent; position: absolute; top: 0; right: 0; z-index: 2; cursor: pointer; }

    
    th, td{ border-bottom: 0.016em solid white !important; }
    
    li.sA{ color: #ff0d86 !important; } */
}

@media screen and (max-width:800px){
    input[type="text"]:focus{ width: 15.625em; z-index: 1; cursor: text; }
    input[type="text"]:visited{ border: none; }
    input[type="text"]:hover{   border: none; }
    input[type="text"]:active{  border: none; }

    div#sideBar::-webkit-scrollbar {       border-radius: 0.5em 0.5em 0.5em 0.5em; width: 0.2em; }
    div#sideBar::-webkit-scrollbar-thumb { border-radius: 0.5em 0.5em 0.5em 0.5em; }
    div#sideBar::-webkit-scrollbar-track { border-radius: 0.5em 0.5em 0.5em 0.5em; }
    

    html{   margin: -2em 1.5em 0.5em 1.5em; }
    header{ padding: 3.5em 2em 1em 2em; margin-bottom: 0; }

    section{      margin-left: 0em; }
    section#body{ padding-left: 2rem; padding-right: 2rem; top: 6em; display: inline; position: absolute; right: 0 !important; margin: 0em !important; }
    section#body section{ margin-bottom: 5em; }

    code{  display: inline; font-family: 'JetBrains Mono', 'D2Coding'; line-height: 1em; font-size: 0.8em; }
    table{ margin-top: 1.5em; margin-bottom: 1.5em; font-size: 0.9em; margin-right: 3em; }


    p.title{  font-size: 1em; }
    p.stitle{ font-size: 0.9em; }
    p.dscrpt{ font-size: 0.8em; }

    p.crfBox{  line-height: 2em; }

    p.code{      font-size: 0.7em; }
    p.a{         font-size: 0.8em; transition:color .2s ease; }
    p#thank_you{ font-size: 0.8em; }


    div#side{    display: none; margin: 0; margin-top: 6em; padding-left: 2em; padding-right: 2em; width: 93%; height: 95.6%; }
    div#blank{   display: none; }
    div#sideBar{ display: none; border-radius: 0em 0.5em 0.5em 0.5em; position: fixed !important; left: 0%; top: 0%; overflow: auto; width: 50% !important; height: 87% !important; margin: 0; margin-top: 4.5em; }
    
    div.code, div.crf, div.pls{ font-size: 0.8em; margin-top: 1.3em; padding: 0.1em 0.5em 0.1em 0.5em; border-radius: 0.4em 0.4em; white-space:nowrap; overflow: auto; }

    div.table{ overflow: auto; }
    div#sA{    margin-top: 0.7em; margin-bottom: 1em; }
    div#wrap{  margin: 0em 0em }
    
    
    img#kkotb_rfnc{                      width: 1.5em; height: auto; }
    img[id = "sttc"], img[id = "prttp"]{ width: 0.8em; height: auto; margin-right: 0.25em;  }


    input[type="text"]{   height: 1.5rem; font-size: 0.65em; }
    input[type="submit"]{ width: 2rem; height: 2rem; background-size: 1.5rem 1.5rem; padding: 0em 0em 0em 0em !important; }


    tr{       padding: 1em 1em 1em 1em; font-size: 0.8em !important; line-height: 0.8em; }
    th, td{   padding: 0.8em 0.8em 0.8em 0.8em; }
    sup, sub{ font-size: 5px; }
    li.sA{    font-size: 0.8em; }
}