@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@font-face{ font-family: 'JetBrains Mono'; src:url(font/JetBrainsMono-Medium.woff) format('woff'); }
@font-face{ font-family: 'JetBrains Mono I'; src:url(font/JetBrainsMono-Medium-Italic.woff) format('woff'); }
@font-face{ font-family: 'D2Coding'; src:url(font/D2Coding.woff) format('woff'); }


div.table::-webkit-scrollbar-thumb, div.code::-webkit-scrollbar-thumb,  div.pls::-webkit-scrollbar-thumb,  div.crf::-webkit-scrollbar-thumb { width: 0.6em; height: 0.4rem; border-radius: 0.5em 0.5em 0.5em 0.5em; background-color: rgb(85, 85, 85);  }

body {
    background: #3a3a3a;
}

li.a::before, li.sA::before {
    filter: invert(0%);
}

div#auto td:hover {
    background: black;
}

article {
    background: #3a3a3a;
    color: white !important;
}

article img {
    filter: invert(0%);
}

span.list dd {
    color: white;
}

p.code {
    color: white;
    background: black;
    box-shadow: 0rem 0rem 0.5rem 0rem #cfcfcf;
}

p#i {
    font-family: 'JetBrains Mono I' !important;
}

div.crf, div.pls {
    background: #3a3a3a;
}

 div.code {
    background: black;
    box-shadow: 0rem 0rem 1rem 0rem #161616;
}

table {
    border-left: 0em solid transparent;
    border-right: 0em solid transparent;
    border-top: 0.5rem solid white;
}

th, td {
    border-bottom: 0.1em solid white;
}

img.thank {
    filter: invert(0%);
}

img.sttc, img.prttp {
    filter: invert(0%);
}

section#tool {
    background: #3a3a3a;
}

input#search_txt {
    color: white;
    border-bottom: 0.3rem solid white;
    background: transparent;
}

button#search_btn img {
    filter: invert(0%);
}

div#auto table {
    border: none;
    margin-top: -0.7rem;
    margin-left: 0.1rem;
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

div#auto tr {
    background: #303030;
}

img#arrow {
    filter: invert(0%);
}

div#imgs img {
    filter: invert(0%);
}

input[type = 'range'] {
    -webkit-appearance: none; 
    overflow: hidden;
    background: #161616;
}

select.tool_sel {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 15rem;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    padding: 0 1.5rem;
    background: url('../img/select_font.png') no-repeat 12.5rem 50%;
    filter: invert(100%);
    background-size: 0.9rem 0.9rem;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
}

div#preview {
    margin: 5rem 0rem;
    padding: 3rem;
    border-radius: 3rem;
    box-shadow: 0rem 0rem 0.8rem #161616;
}