
@media screen and (max-width:800px){
    img#one, img#two, img#three, img#four {
        position: fixed;
        width: 10rem;
        height: 10rem;
    }

    img#one {
        top: 0;
        left: 0;
    }

    img#two {
        bottom: 0;
        right: 0;
        transform: rotate(180deg);
    }

    section {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    img#login {
        position: absolute;
        top: 1.8rem;
        right: 1.8rem;
        width: 3rem;
        height: 3rem;
        border-radius: 10rem;
        cursor: pointer;

        transition-property: box-shadow;
        transition-duration: 0.4s;
    }

    img#docs {
        width: 3.7rem;
        height: 3.7rem;
        position: relative;
        top: 20%;
    }

    div#list {
        position: relative;
        top: calc(20% + 7rem);
        margin: 0 2rem;
    }

    img.icon {
        width: 3.7rem;
        height: 3.7rem;
        border-radius: 10rem;
        margin: 1.5rem 1.5rem;
        transform: rotate(0deg);

        transition-property: box-shadow;
        transition-duration: 0.4s;
    }

    img#summary {
        background: url('../img/summary.png') no-repeat center;
        background-size: 2rem 2rem;
    }

    img#legacyAPI {
        background: url('../img/api.png') no-repeat center;
        background-size: 2rem 2rem;
    }

    img#API2 {
        background: url('../img/api2.png') no-repeat center;
        background-size: 2rem 2rem;
    }

    img#rhino {
        background: url('../img/rhino.png') no-repeat center;
        background-size: 2rem 2rem;
    }

    img#deepening {
        background: url('../img/deepening.png') no-repeat center;
        background-size: 2rem 2rem;
    }

    img#appendix {
        background: url('../img/appendix.png') no-repeat center;
        background-size: 2rem 2rem;
    }

    img#full {
        background: url('../img/full.png') no-repeat center;
        background-size: 2rem 2rem;
    }

    img#login:hover {
        transform: rotate(90deg);
    }

    img.icon:hover {
        box-shadow: 0rem 0rem 0.8rem 0rem rgba(255, 255, 255, 0.164);
    }
}