@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

div#content{
    margin-top: 20rem;
    z-index: 9999;
    text-align: center;
}

#loginHeader{
    margin: 8rem auto;
}

form{
    margin: 4rem auto;
    text-align: center !important;
}

button.btn{
    margin: 2rem auto;
    border-radius: 2rem;
    border: none;
    box-shadow: 0rem 0rem 0.9rem 0rem #b1b1b1;
    width: 10rem;
    height: 3rem;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    color: #414141;

    transition-property: background-color, color;
    transition-duration: 0.7s;
}

button.btn:hover{
    background-color:  #9720ff;
    color: white;
}

