@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@font-face{ font-family: 'JetBrains Mono'; src:url(font/JetBrainsMono-Medium.woff) format('woff'); }
@font-face{ font-family: 'JetBrains Mono I'; src:url(font/JetBrainsMono-Medium-Italic.woff) format('woff'); }
@font-face{ font-family: 'D2Coding'; src:url(font/D2Coding.woff) format('woff'); }

@media screen and (max-width:800px){
    *::-webkit-scrollbar{
        width: 0rem; 
        height: 0rem; 
    }
    
    li.a::before{
        content: ''; 
        background: url('../img/link.png') no-repeat; 
        background-size: 1.1em 1.1em; 
        filter: invert(100%);
        width: 1.1em; 
        height: 1.1em; 
        display: inline-block; 
        padding-left: 0.3em !important; 
    }
    
    li.sA::before{
        content: ''; 
        background: url('../img/content.png') no-repeat; 
        background-size: 1.1em 1.1em;
        filter: invert(100%);
        width: 1.1em; 
        height: 1.1em; 
        display: inline-block; 
        padding-left: 0.3em !important; 
    }
    
    li.sA, li.a, aside dt, img#docs, dd:hover {
        cursor: pointer;
    }
    
    aside:hover {
        width: 18rem;
        transition-delay: 0s;
    }
    
    aside dt:hover {
        background-color: #515151;
    }

    div#auto td:hover {
        background: #dddddd;
    }
    
    * {
        margin: 0;
        padding: 0;
        font-family: 'Noto Sans', 'Noto Sans KR';
        font-size: 0.8rem;
    }
    
    html, body {
        width: 100%;
        height: 100%;
    }
    
    aside, article#body * {
        display: inline-block;
    }
    
    aside {
        position: fixed;
        background: black;
        color: white;
        width: 4rem;
        height: 100%;
        padding: 2rem 0.5rem;
        text-align: center;
        z-index: 99999;
    
        transition-property: width;
        transition-duration: 0.4s;
    }
    
    aside dl {
        position: relative;
        top: 5rem;
        width: 4rem;
    }
    
    aside dt {
        height: 1.7rem;
        margin-bottom: 1.7rem;
        padding: 0.5rem 0;
        border-radius: 0.5rem;
        position: relative;
        left: 0;
    
        transition-property: background;
        transition-duration: 0.4s;
    }
    
    aside span#list {
        display: none;
        width: 15rem;
        opacity: 0;
        text-align: left;
        position: absolute;
        top: 0rem;
        left: 0rem;
    }
    
    span#list h1 {
        font-size: 1.3rem;
        font-weight: bold;
        position: absolute;
        top: -7.6rem;
    }
    
    span#list dd {
        font-size: 1rem;
        display: inline-block;
        font-weight: 500;
        margin-bottom: 1.2rem;
    }
    
    div#docs_space, div#docs_fun {
        position: relative;
        left: 0;
        width: 4rem;
    }
    
    img#docs {
        width: 2rem;
        height: 2rem;
    }

    img#search {
        width: 1.5rem;
        height: 1.5rem;
    }

    div#docs_fun form {
        position: absolute;
        top: -1rem;
        left: 0rem;
        width: 10rem;
        display: none;
    }

    div#autocomplete {
        width: 6rem;
        text-align: left;
        position: absolute;
        left: 10rem;
        bottom: 4rem;
    }

    li.auto {
        display: inline;
        background: #505050;
        padding: 0.2rem 1rem;
        border-radius: 10rem;
        line-height: 3rem;
        margin-right: 1rem;

        transition-property: background;
        transition-duration: 0.5s;
    }

    input#search {
        width: 100%;
        height: 2rem;
        background-color: transparent;
        border: none;
        border-bottom: 0.2rem solid white;
        color: white;
        outline: none;
    }
    
    img.side_icon {
        width: 1.5rem;
        height: auto;
        filter: invert(50%);
    }
    
    img#this {
        filter: invert(0%);
    }
    
    article {
        padding: 2.5rem 2rem;
        width: calc(100% - 9rem);
        float: right;
        overflow: visible;
    }
    
    div.content {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    
    p {
        display: inline;
    }
    
    p.title {
        display: block;
        font-size: 1.5rem;
        font-weight: 550;
        margin-bottom: 2.3rem;
    }
    
    p.stitle {
        display: block;
        font-size: 1.2rem;
        font-weight: 550;
        margin-bottom: 2.3rem;
    }
    
    p.dscrpt, p.code {
        line-height: 1.8rem;
        white-space: pre-line;
    }

    p.dscrpt {
        font-size: 0.8rem;
    }
    
    p.code {
        all: initial;
        font-size: 0.7rem;
        font-family: 'JetBrains Mono', 'D2Coding';
        background-color: #ebebeb;
        padding: 0.1rem 0.2rem;
        border-radius: 0.3rem;
    }
    
    li.a, li.sA {
        list-style: none;
        line-height: 2rem;
        font-size: 1rem;
    }
    
    li.a {
        font-weight: bold;
        display: inline-block;
    }
    
    li.dscrpt {
        line-height: 1.8rem;
        white-space: pre-line;
    }
    
    div#sA {
        margin-top: 2.3rem;
        margin-bottom: 2.3rem;
    }
    
    div.code, div.crf, div.pls {
        padding: 1.2rem;
        margin-top: 1.7rem;
        margin-bottom: 1.7rem;
        border-radius: 0.7rem;
        white-space: nowrap;
        overflow: auto;
    }
    
    div.code {
        background: #f7f7f7;
        box-shadow: 0rem 0rem 0.8rem 0rem #dddddd;
    }
    
    div.code code {
        font-size: 0.8rem;
        font-family: 'JetBrains Mono', 'D2Coding';
        line-height: 1.7rem;
    }
    
    div.pls {
        background: white;
        box-shadow: 0rem 0rem 1rem 0rem #00ffc8;
    }
    
    div.pls p.plsBox {
        font-size: 0.9rem;
        line-height: 1.8rem;
        font-weight: bold;
        color: #00ffc8;
    }
    
    div.crf {
        background: white;
        box-shadow: 0rem 0rem 1rem 0rem #ff00aa;
    }
    
    div.crf p.crfBox {
        font-size: 0.8rem;
        line-height: 1.8rem;
        font-weight: bold;
        color: #ff00aa;
        overflow: auto;
        white-space: nowrap;
    }
    
    div.table {
        margin: 1.7rem 0;
        width: 100%;
        white-space: pre-wrap;
        overflow: auto;
    }
    
    table {
        border-left: 0em solid white;
        border-right: 0em solid white;
        border-collapse: collapse;
        width: 100%;
        border-top: 0.5rem solid black;
        white-space: pre-line;
    }
    
    th {
        padding: 1.7rem 0;
    }
    
    tr {
        line-height: 1.8rem;
        overflow: auto;
    }
    
    th, td {
        border-bottom: 0.1em solid #4b4b4b;
        padding: 1rem;
        overflow: auto;
    }
    
    img.sttc, img.prttp {
        width: 1rem;
        height: 1rem;
        margin-left: 0.7rem;
    }
    
    img.thank {
        filter: invert(100%);
        width: 5rem;
    }
    
    div#imgBox {
        white-space: nowrap;
        overflow: auto;
    }
    
    div.thanks_box {
        display: inline;
        margin-right: 3rem;
    }

    section#tool {
        position: fixed;
        top: 0;
        right: 0;
        padding: 5rem 4rem;
        width: calc(100% - 18rem);
        height: 100%;
        overflow: visible;
        padding-top: 9rem;
        text-align: center;
        background: white;
        display: none;
    }

    section#tool form {
        width: 38rem;
        margin: 0 auto;
    }

    input {
        outline: none;
    }

    input#search_txt {
        position: relative;
        top: -0.7rem;
        height: 2.5rem;
        width: 35rem;
        border: none;
        border-bottom: 0.3rem solid black;
        font-size: 1.3rem;
    }

    button#search_btn {
        background: transparent;
        border: none;
    }

    button#search_btn img {
        filter: invert(100%);
        width: 2.5rem;
        height: 2.5rem;
    }

    div#auto {
        width: 35rem;
        text-align: left;
    }

    div#auto table {
        border: none;
        margin-top: -0.7rem;
        margin-left: 0.1rem;
        z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
    }

    div#auto tr {
        background: rgb(252, 251, 251);
    }

    div#auto td {
        border: none;
        transition-property: background;
        transition-duration: 0.5s;
    }

    tr#fiv td {
        border-radius: 0rem 0rem 1.5rem 1.5rem;
    }
}