@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@font-face{ font-family: 'JetBrains Mono'; src:url(font/JetBrainsMono-Medium.woff) format('woff'); }
@font-face{ font-family: 'JetBrains Mono I'; src:url(font/JetBrainsMono-Medium-Italic.woff) format('woff'); }
@font-face{ font-family: 'D2Coding'; src:url(font/D2Coding.woff) format('woff'); }

@media screen and (max-width:800px){
    *::-webkit-scrollbar{
        width: 0rem; 
        height: 0rem; 
    }
    
    li.a::before {
        content: ''; 
        background: url('../img/link.png') no-repeat; 
        background-size: 1.1em 1.1em; 
        filter: invert(100%);
        width: 1.1em; 
        height: 1.1em; 
        display: inline-block; 
        padding-left: 0.3em !important; 
    }
    
    li.sA::before {
        content: ''; 
        background: url('../img/content.png') no-repeat; 
        background-size: 1.1em 1.1em;
        filter: invert(100%);
        width: 1.1em; 
        height: 1.1em; 
        display: inline-block; 
        padding-left: 0.3em !important; 
    }
    
    li.sA:hover, li.a:hover, aside dt:hover, img#docs:hover, dd:hover {
        cursor: pointer;
    }

    * {
        margin: 0;
        padding: 0;
        font-family: 'Noto Sans', 'Noto Sans KR';
    }

    html, body {
        width: 100%;
        height: 100%;
    }

    /*====================SideBar====================*/

    aside:hover {
        width: 18rem;
        transition-delay: 0s;
    }
    
    aside dt:hover {
        background-color: #515151;
    }
    
    aside, article#body * {
        display: inline-block;
    }
    
    aside {
        display: inline-block;
        position: fixed;
        background: black;
        color: white;
        width: 3.5rem;
        height: 100%;
        padding: 2rem 0.25rem;
        text-align: center;
        z-index: 99999;
    
        transition-property: width;
        transition-duration: 0.4s;
    }

    div#docs_space {
        position: fixed;
        left: 0;
        width: 4rem;
    }
    
    img#docs {
        width: 1.7rem;
        height: 1.7rem;
    }

    img.side_icon {
        width: 1.5rem;
        height: auto;
        filter: invert(50%);
    }
    
    aside dl {
        position: relative;
        top: 7%;
        width: 3.5rem;
    }

    aside dt {
        height: 1.7rem;
        margin-bottom: 1.2rem;
        padding: 0.5rem 0;
        border-radius: 0.5rem;
        position: relative;
        left: 0;
    
        transition-property: background;
        transition-duration: 0.4s;
    }

    img#this {
        filter: invert(0%);
    }

    aside span.list {
        margin: 0;
        padding: 2rem 0rem;
        display: none;
        width: 11.5rem;
        height: 100%;
        opacity: 0;
        text-align: left;
        position: absolute;
        top: 0rem;
        left: 0rem;
    }

    span.list h1 {
        font-size: 1.1rem;
        font-weight: bold;
        display: inline;
        line-height: initial;
        margin: 0;
    }

    img#tool_btn {
        width: 1.1rem;
        height: 1.1rem;
        position: absolute;
        right: 0;
        cursor: pointer;
        display: inline;
        margin: 0.2rem 0;
    }

    span.list dd {
        font-size: 0.9rem;
        display: inline-block;
        font-weight: 500;
        margin-bottom: 0.9rem;
    }

    span.sideList {
        position: relative;
        top: 5%;
        display: block;
    }

    /*====================Content====================*/

    p.title:hover, p.stitle:hover {
        cursor: pointer;
    }

    article {
        padding: 2.5rem 2rem;
        width: calc(100% - 8rem);
        float: right;
        overflow: visible;
    }

    div.content {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 100%;
    }

    p {
        display: inline;
    }
    
    p.title {
        display: block;
        font-size: 1.3rem;
        font-weight: 550;
        margin-bottom: 2rem;
    }
    
    p.stitle {
        display: block;
        font-size: 1.1rem;
        font-weight: 550;
        margin-bottom: 2.3rem;
    }
    
    p.dscrpt, p.code {
        line-height: 1.8rem;
        white-space: pre-line;
    }

    p.dscrpt {
        font-size: 0.8rem;
    }
    
    p.code {
        display: inline;
        font-size: 9.3px !important;
        font-family: 'JetBrains Mono', 'D2Coding';
        background-color: #ebebeb;
        padding: 0.1rem 0.2rem;
        border-radius: 0.3rem;
    }

    p#i {
        font-family: 'JetBrains Mono I' !important;
        font-size: 9.3px !important;
    }

    i {
        font-size: 9.3px !important;
    }

    li.a, li.sA {
        list-style: none;
        line-height: 1.8rem;
        font-size: 0.8rem;
    }
    
    li.a {
        font-weight: bold;
        display: inline-block;
    }

    li.dscrpt {
        line-height: 1.8rem;
        white-space: pre-line;
        font-size: 0.8rem;
    }

    div#sA {
        margin-top: 2.3rem;
        margin-bottom: 2.3rem;
    }

    div.code, div.crf, div.pls {
        padding: 1rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        border-radius: 0.7rem;
        white-space: nowrap;
        overflow: auto;
    }

    div.code {
        background: #f7f7f7;
        box-shadow: 0rem 0rem 0.8rem 0rem #dddddd;
    }
    
    div.code code {
        font-size: 0.7rem;
        font-family: 'JetBrains Mono', 'D2Coding';
        line-height: 1.7rem;
    }

    div.pls {
        background: white;
        box-shadow: 0rem 0rem 1rem 0rem #00ffc8;
    }
    
    div.pls p.plsBox {
        font-size: 0.8rem;
        line-height: 1.8rem;
        font-weight: bold;
        color: #00ffc8;
    }
    
    div.crf {
        background: white;
        box-shadow: 0rem 0rem 1rem 0rem #ff00aa;
    }
    
    div.crf p.crfBox {
        font-size: 0.8rem;
        line-height: 1.8rem;
        font-weight: bold;
        color: #ff00aa;
        overflow: auto;
        white-space: nowrap;
    }

    div.table {
        margin: 1.5rem 0;
        width: 100%;
        white-space: pre-wrap;
        overflow: auto;
    }
    
    table {
        border-left: 0em solid white;
        border-right: 0em solid white;
        border-collapse: collapse;
        width: 100%;
        border-top: 0.5rem solid black;
        white-space: pre-line;
    }
    
    th {
        padding: 1.5rem 0;
    }
    
    tr {
        line-height: 1.8rem;
        overflow: auto;
    }
    
    th, td {
        border-bottom: 0.1em solid #4b4b4b;
        padding: 1rem;
        overflow: auto;
        font-size: 0.8rem;
    }

    td#no {
        background: rgb(0 0 0 / 0%);
        border: 0.2em solid #ff00aa !important;
    }

    img.sttc, img.prttp {
        width: 1rem;
        height: 1rem;
        margin-left: 0.7rem;
    }
    
    /*====================Appendix====================*/

    img.thank {
        filter: invert(100%);
        width: 4rem;
    }
    
    div#imgBox {
        white-space: nowrap;
        overflow: auto;
    }
    
    div.thanks_box {
        display: inline;
        margin-right: 3rem;
    }

    p.thank_you {
        font-size: 0.8rem;
    }

    div#dev {
        text-align: center;
        margin: 5rem 0rem;
    }

    div#imgs {
        margin-bottom: 2rem;
    }

    div#imgs img {
        filter: invert(100%);
        width: 3rem;
        height: auto;
        margin-right: 3rem;
    }

    div#imgs img:last-child {
        margin-right: 0rem;
    }

    div#dev p#dev {
        font-size: 0.8rem;
        word-spacing: 0.5rem;
    }

    /*====================ToolBar====================*/

    div#auto td:hover {
        background: #dddddd;
    }

    img.themeimg:hover {
        border-top: 0.5rem solid #dddddd;
        cursor: pointer;
    }

    section#tool {
        position: absolute;
        top: 0;
        right: 0;
        padding: 2.5rem 2rem;
        width: calc(100% - 8rem);
        height: 100%;
        overflow: visible;
        padding-top: 4.5rem;
        padding-bottom: 100rem;
        text-align: center;
        background: white;
        display: none;
    }

    div#view {
        display: inline-block;
        width: 50%;
        margin-top: 0.4rem;
        text-align: left;
        float: left;
    }

    img#view_img {
        display: inline;
        width: 1rem;
        height: auto;
    }

    div#view p {
        display: inline;
        margin-left: 1rem;
        position: relative;
        top: -0.2rem;
    }

    img#arrow {
        filter: invert(100%);
        width: 1rem;
        height: auto;
        margin-left: 1rem;
    }

    div#login {
        display: inline-block;
        width: 50%;
        text-align: right;
        margin-bottom: 1.5rem;
    }

    img#login_img {
        display: inline-block;
        width: 2rem;
        height: auto;
        border-radius: 4rem;
    }

    p#login_txt {
        position: relative;
        top: -0.7rem;
        margin-right: 1rem;
        text-align: right;
        font-size: 0.8rem;
    }

    section#tool form {
        width: 100%;
        margin: 0 auto;
    }

    input, button {
        outline: none;
    }

    input#search_txt {
        position: relative;
        top: -0.7rem;
        height: 2rem;
        width: 80%;
        border: none;
        border-bottom: 0.3rem solid black;
        font-size: 0.9rem;
    }

    button#search_btn {
        background: transparent;
        border: none;
    }

    button#search_btn img {
        filter: invert(100%);
        width: 1.7rem;
        height: 1.7rem;
    }

    div#auto {
        width: 80%;
        text-align: left;
        position: absolute;
    }

    div#auto table {
        border: none;
        margin-top: -0.7rem;
        margin-left: 0.1rem;
        z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
    }

    div#auto tr {
        background: rgb(252, 251, 251);
    }

    div#auto td {
        padding: 0.8rem;
        border: none;
        transition-property: background;
        transition-duration: 0.5s;
    }

    tr:last-child td {
        border-radius: 0rem 0rem 1.2rem 1.2rem;
    }

    div#autocomplete {
        width: 6rem;
        text-align: left;
        position: absolute;
        left: 10rem;
        bottom: 4rem;
    }

    .autocomplete-active {
        background-color: #00ffc8 !important;
        color: black !important;
    }

    li.auto {
        display: inline;
        background: #505050;
        padding: 0.2rem 1rem;
        border-radius: 10rem;
        line-height: 3rem;
        margin-right: 1rem;

        transition-property: background;
        transition-duration: 0.5s;
    }

    div.tool_sec {
        text-align: left;
        margin-top: 2rem;
    }

    div.tool_con {
        margin-top: 1.5rem;
    }

    div.ttl {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
    
    img.themeimg {
        width: 6.5rem;
        height: auto;
        display: inline;
        margin-right: 3rem;
        margin-bottom: 3rem;
        border-radius: 0.9rem 0.9rem 0rem 0rem;
        border-top: 0.5rem solid transparent;

        transition-property: border-top;
        transition-duration: 0.35s;
    }
    
    img.themeimg:last-child {
        margin-bottom: 0rem;
    }

    img[data-checked = "true"] {
        border-top: 0.5rem solid #00ffc8;
    }
    
    input[type = range] {
        -webkit-appearance: none; 
        overflow: hidden;
        width: 15rem; 
        height: 0.8rem;
        background: transparent; 
        cursor: pointer;
        background: #dddddd;
        border-radius: 4rem;
    }

    p.rangeTxt {
        font-size: 0.9rem;
        margin-left: 0.8rem;
    }
    
    input[type=range]:focus {
        outline: none;
    }
    
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 1px;
        height: 1px;
        background: linear-gradient(to right, #ff00aa, white);
        box-shadow: -100vw 0 0 100vw #ff00aa;
        border: 0.1px solid #ff00aa;
        border-radius: 1rem;
        cursor: pointer;
    }

    select.tool_sel {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        font-size: 0.8rem;
        width: 10rem;
        height: 2.5rem;
        border: none;
        border-radius: 0.8rem;
        box-shadow: 0rem 0rem 0.8rem #dddddd;
        padding: 0 1rem;
        background: url('../img/select_font.png') no-repeat 8rem 50%;
        background-size: 0.9rem 0.9rem;
        font-weight: bold;
        margin-top: 1rem;
        cursor: pointer;
    }

    div#preview {
        margin: 3rem 0rem;
        padding: 2rem;
        border-radius: 2rem;
        box-shadow: 0rem 0rem 0.8rem #dddddd;
    }
}