@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

#toast_con {
    background-color: white;
    position: fixed;
    top: 35% !important;
    width: 23%;
    max-width: 40%;
    z-index: 9999999999999999999;
    font-family: 'Nanum Gothic';
    font-weight: 400;
    font-size: 1.1em;
    text-align: center;
    border-radius: 1em;
    margin: 0 auto;
    padding: 1.5rem 0;
    display: none;
}

div.default {
    box-shadow: 0em 0em 1em 0em #dddddd;
}

div.success {
    box-shadow: 0em 0em 0.65em 0em #00ffc8;
}

div.warning {
    box-shadow: 0em 0em 0.65em 0em #ffd900;
}

div.danger {
    box-shadow: 0em 0em 0.65em 0em #ff009d;
}

#toast_con p {
    word-break: break-all;
}