@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{
    font-family: 'Nanum Gothic';
    color: #4b4b4b;
}

#title{
    font-size: 2.5em;
    font-weight: 700;
}

#sT{
    font-size: 1.2em;
}

#NF{
    width: 40rem;
    height: auto;
    margin-bottom: 1.5em;
}

div{
    text-align: center;
    margin-top: 10em;
}

@media screen and (max-width:800px){
    #title{
        font-size: 1.7em;
        font-weight: 700;
    }
    
    #sT{
        font-size: 0.8em;
    }

    #NF{
        width: 17rem;
        height: auto;
    }
}

@media(prefers-color-scheme: dark){
    body{
        background-color: #4b4b4b;
    }

    #title, #sT{
        color: white;
    }
}