@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@font-face{ font-family: 'JetBrains Mono R'; src: url(font/JetBrainsMono-Regular.woff) format('woff'); }



dt:hover, dd:hover{     cursor: pointer; }
dt:visited, dd:visited{ cursor: default; }


div#side{ line-height: 1.3em; }


dt, dd{ font-family: 'JetBrains Mono R', 'Nanum Gothic'; line-height: 2em; word-spacing: -0.09em; }
dd{     font-size: 0.9em; font-weight: lighter; }
dt{     font-size: 1em; font-weight: bold; }


@media screen and (max-width: 800px){
    aside{
        width: 100%;
    }
    dd{
        font-size: 0.7em;
        margin-left: 1em;
    }

    dt{
        font-size: 0.8em;
    }

    
}